@charset "UTF-8";

/* * Importações */
@font-face {
  font-family: MedievalSharp;
  src: url(../fonts/MedievalSharp/MedievalSharp.ttf);
}
@font-face {
  font-family: "Sour Gummy";
  src: url(../fonts/Sour_Gummy/SourGummy.ttf);
}

/* * Configurações Principais */
:root {
  --cor-primaria: #4a90e2;
  --cor-primaria-semitransparente: #4a91e257;
  --cor-secundária: #d5dbdb;
  --cor-terciária: #3333;
  --cor-fundo: #fff;
  --cor-fundo-semitransparente: #ffffff57;
  --cor-gradiente: linear-gradient(90deg, #0077ff 0%, #00ffc8 100%);
  --cor-footer: #222f3e;
  --cor-texto: #333;
  --cor-texto-claro: #bbb;
  --cor-link: #214166;
  --cor-link-hover: #2a814b;
  --cor-borda: #3333;
  --borda: 1px solid var(--cor-borda);
  --fonte-título: "MedievalSharp", cursive;
  --fonte-texto: "Sour Gummy", sans-serif;
  --sombra: 0 4px 6px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6em;
  font-size: 1em;
  font-family: var(--fonte-texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-título);
}

a {
  color: var(--cor-link);
  text-decoration: none;
}

a:hover {
  color: var(--cor-link-hover);
  text-decoration: underline;
}

p {
  margin: 1rem 0;
}

.icon {
  padding: 0 0.5rem 0 0;
  color: var(--cor-texto);
}

.active {
  display: flex;
}

/* * Cabeçalho */
header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  padding: 3rem;
  background: var(--cor-gradiente);
  color: var(--cor-texto);
}

div.location-info {
  display: flex;
  flex-flow: row nowrap;
}

/* * Conteúdo */
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--cor-secundária);
}

main section {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  padding: 1rem;
  text-align: justify;
  background: var(--cor-fundo);
}

main section:nth-child(odd) {
  background: var(--cor-secundária);
}

#navMenu {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: auto;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--cor-fundo-semitransparente);
}

#navMenu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: var(--cor-texto);
  transition: background-color 0.3s ease;
}

#navMenu button:hover {
  cursor: pointer;
  box-shadow: var(--sombra);
  background-color: var(--cor-secundária);
}

#mainContent {
  flex-flow: column nowrap;
}

/* * Ajustes para os containers */
#mainContent .container {
  display: none;
}

#mainContent .active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#container-home {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

#container-contato {
  flex-flow: auto;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.card {
  flex: auto;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--cor-terciária);
  box-shadow: var(--sombra);
}

.card:hover {
  transform: translateY(-5px);
}

.cardsDeEnsino {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card-ensino {
  width: 100%;
}

.disciplinas .card-ensino {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* * Rodapé */
footer {
  text-align: center;
  padding: 2rem;
  bottom: 0;
  width: 100%;
  height: auto;
  background: var(--cor-footer);
  color: var(--cor-texto-claro);
}

.accessibility {
  position: fixed;
  top: 50%;
  z-index: 1000;
  right: 0;
  width: 50px;
  padding: 0.5rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: var(--cor-primaria);
  color: var(--cor-fundo);
  box-shadow: var(--sombra);
  transform: translateY(-50%);
}

.accessibility button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--cor-primaria);
  color: var(--cor-fundo);
  cursor: pointer;
}

.accessibility button:hover {
  color: var(--cor-link-hover);
}

.accessibility button:focus {
  outline: 2px solid var(--cor-fundo);
  outline-offset: 2px;
}

.accessibility-menu {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 4rem;
  z-index: 1000;
  padding: 1rem;
  border-radius: 8px;
  background: var(--cor-primaria-semitransparente);
  color: var(--cor-fundo);
  box-shadow: var(--sombra);
  transform: translateY(-50%);
  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 100%;
  gap: 1rem;
}

@media (min-width: 750px) {
  /* * Cabeçalho */
  header {
    flex-flow: row wrap;
  }

  /* * Conteúdo Principal */
  .container {
    flex-flow: row wrap;
  }

  #mainContent .active {
    flex-flow: row wrap;
  }

  .cardsDeEnsino {
    flex-flow: row wrap;
  }

  .card-ensino {
    max-width: 40%;
  }

  .disciplinas .card-ensino {
    width: auto;
    max-width: none;
  }

  /* * Footer */
  .accessibility-menu {
    max-height: 50vh;
    right: 5rem;
  }
}
