@charset "UTF-8";

/* * Importações */
@font-face {
  font-family: MedievalSharp;
  src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}
@font-face {
  font-family: "Sour Gummy";
  src: url(../fonts/Sour_Gummy/SourGummy-Regular.ttf);
}

/* * Configurações Principais */
:root {
  --cor-primaria: #4a90e2;
  --cor-secundária: #d5dbdb;
  --cor-fundo: #fff;
  --cor-gradiente: linear-gradient(90deg, #4a90e2 0%, #50e3c2 100%);
  --cor-footer: #222f3e;
  --cor-texto: #333;
  --cor-texto-claro: #bbb;
  --cor-link: #4a90e2;
  --cor-link-hover: #50e3c2;
  --fonte-título: MedievalSharp, cursive;
  --fonte-texto: "Sour Gummy", sans-serif;
  --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
  font-family: var(--fonte-texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-título);
  color: var(--cor-texto);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--cor-texto);
  vertical-align: middle;
}

/* * Cabeçalho */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background: var(--cor-gradiente);
  color: var(--cor-texto);
}

div.location-info {
  display: flex;
  flex-flow: row nowrap;
}

/* * Conteúdo */
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--cor-secundária);
}

main section {
  width: 100%;
  min-height: 75vh;
  padding: 1rem;
  background: var(--cor-fundo);
}

main section:nth-child(odd) {
  background: var(--cor-secundária);
}

menu.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

/* * Rodapé */
footer {
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: var(--cor-footer);
  color: var(--cor-texto-claro);
}
